
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/fly-3.0/res/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/fly-3.0/res/css/global.css}">
</head>
<body>
<span id="access_address" style="display:none" th:text="${address}"></span>
<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img th:src="@{/fly-3.0/res/images/zj.png}" alt="layui">
    </a>

    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a th:href="@{'/html/indexSuc?address='+${address}}"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 登入后的状态 -->
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <!--<cite class="layui-hide-xs">贤心</cite>-->
          <cite class="layui-hide-xs" th:text="${username}">无</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="VIP+${grade_num}">VIP3</i>
          <!--<img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">-->
          <img th:src="${profile_photo}">
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{'/html/user/set?address='+${address}}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a th:href="@{'/html/user/message?address='+${address}}"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a th:href="@{'/html/user/home?home_key='+${my_home_key}}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a th:href="@{/html/user/login}" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a th:href="@{'/html/user/home?home_key='+${my_home_key}}">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{'/html/user/index?address='+${address}}">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{'/html/user/post?address='+${address}}">
        <i class="layui-icon">&#xe606;</i>
        我的贴子
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{'/html/user/set?address='+${address}}">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{'/html/user/message?address='+${address}}">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>


  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->

    <div class="layui-row layui-col-space20">
      <div class="layui-col-md6">
        <div class="fly-panel fly-panel-border">
          <div class="fly-panel-title">我的会员信息</div>
          <div class="fly-panel-main layui-text" style="padding: 18px 15px; height: 50px; line-height: 26px;">
            <p>
              您当前为<i class="layui-badge fly-badge-vip layui-hide-xs" th:text="VIP+${grade_num}">VIP3</i>
            </p>
          </div>
        </div>
      </div>
      <div class="layui-col-md8" id="user_level">
        <!--<img style="margin-left: 25px" th:src="@{/vipImg/vip2.png}" height="144" width="144"/>-->
        <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">-->
          <!--<legend>已符合</legend>-->
        <!--</fieldset>-->

        <!--<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">-->
          <!--<div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>-->
        <!--</div>-->

        <!--<div class="site-demo-button" style="margin-top: 20px; margin-bottom: 0;">-->
          <!--<button class="layui-btn site-demo-active" data-type="setPercent">设置50%</button>-->
        <!--</div>-->
      </div>
    </div>

  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">智金网社区</a> 2019 &copy; <a href="http://www.layui.com/" target="_blank">zhijin.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">智金网社区</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>


<script th:src="@{/fly-3.0/res/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['element','fly','form'], function(){
        var $ = layui.jquery
            ,fly = layui.fly
            ,form = layui.form
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        function GetPercent(num, total) {
            /// <summary>
            /// 求百分比
            /// </summary>
            /// <param name="num">当前数</param>
            /// <param name="total">总数</param>
            num = parseFloat(num);
            total = parseFloat(total);
            if (isNaN(num) || isNaN(total)) {
                return "-";
            }
            return total <= 0 ? "0%" : (Math.round(num / total * 10000) / 100.00)+"%";
        }

        $(window).on('load', function () {
            // 初始化加载数据
            getUserLevel();
        });

        function getUserLevel() {
            var html = '';
            html+='<img style="margin-left: 25px" id="myImage" src="/vipImg/vip2.png" height="144" width="144"/>';
            html+='<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">';
            html+='<legend >等级/积分值</legend>';
            html+='</fieldset>';
            html+='<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">';
            html+='<div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>';
            html+='</div>';
            html+='<span id="span_id" ></span>';
            html+='<div class="site-demo-button" style="margin-top: 20px; margin-bottom: 0;">';
            html+='<button class="layui-btn site-demo-active layui-bg-blue" data-type="setPercent" id="addLevel">升级</button>';
            html+='</div>';
            $("#user_level").html(html);
            var grade_num = /*[[${grade_num}]]*/ 'Sebastian';
            var total = /*[[${total}]]*/ 'Sebastian';
            var precent = '';
            var pre_result;
            switch (grade_num) {
                case 1:
                    precent = GetPercent(total,100);
                    pre_result = total/100;
                    if (pre_result >= 1) {
                        precent = "100%";
                    }
                    $('#span_id').html(total+"/100");
                    document.getElementById("myImage").src="/vipImg/vip1.png";
                    break;
                case 2:
                    precent = GetPercent(total,200);
                    pre_result = total/200;
                    if (pre_result >= 1) {
                        precent = "100%";
                    }
                    document.getElementById("myImage").src="/vipImg/vip2.png";
                    $('#span_id').html(total+"/200");
                    break;
                case 3:
                    precent = GetPercent(total,300);
                    pre_result = total/300;
                    if (pre_result >= 1) {
                        precent = "100%";
                    }
                    document.getElementById("myImage").src="/vipImg/vip3.png";
                    $('#span_id').html(total+"/300");
                    break;
                case 4:
                    precent = GetPercent(total,400);
                    pre_result = total/300;
                    if (pre_result >= 1) {
                        precent = "100%";
                    }
                    document.getElementById("myImage").src="/vipImg/vip4.png";
                    $('#span_id').html(total+"/400");
                    break;
                case 5:
                    precent = "100%";
                    html = '<img style="margin-left: 25px" src="/vipImg/vip5.png" height="144" width="144"/>';
                    html+='<div><span style="margin-left: 15px">您的等级已经是智金网的最高级</span></div>';
                    $("#user_level").html(html);
                    break;
            }
            element.progress('demo', precent);
            // layer.msg(precent);

            $(document).on('click','#addLevel',function () {
                if (precent == "100%"){
                    // layer.msg("success");
                    fly.json('/user/addLevel',{
                        grade_num: grade_num
                        ,address: /*[[${address}]]*/ 'Sebastian'
                    },function (res) {
                        if (res.status === 0){
                            window.location.reload()
                        }
                        // window.location.reload()
                    })
                }else {
                    layer.msg("您的飞吻值不足以升级！！！")
                }
            });

        }



        //触发事件
        var active = {
            setPercent: function(){
                // //设置50%进度
                // element.progress('demo', '50%')
                if (precent == '100%'){
                    layer.msg("success");
                }else {
                    layer.msg("您的飞吻值不足以升级！！！")
                }
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = $(this).data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/fly-3.0/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/fly-3.0/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>