<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.simple.dao.MessageDao">
    <insert id="insertMessage" parameterType="com.springboot.simple.domain.Message">
        INSERT INTO `message`(post_type,address,browsed,clear_state,state,mention_person,add_time) VALUES (#{post_type},#{address},#{browsed},#{clear_state},#{state},#{mention_person},#{add_time})
    </insert>

    <select id="selectAllMessage" resultType="HashMap">
        SELECT * FROM `message` WHERE address = #{address}
    </select>

    <select id="selectMessageByLikePostTypeAndClearState" resultType="HashMap">
        SELECT * FROM `message` WHERE post_type like #{like_post_type} AND clear_state = 0 order by add_time desc
    </select>

    <select id="selectCountMessageByLikePostType" resultType="int">
        SELECT count(id) as count FROM `message` WHERE post_type like #{like_post_type} AND browsed=0
    </select>

    <update id="updateBrowsedByLikePostType" parameterType="com.springboot.simple.domain.Message">
        UPDATE `message` SET browsed=1 WHERE post_type like #{like_post_type}
    </update>

    <update id="updateClearStateByLikePostType" parameterType="com.springboot.simple.domain.Message">
        UPDATE `message` SET clear_state=1 WHERE post_type like #{like_post_type}
    </update>

    <update id="updateClearStateById" parameterType="com.springboot.simple.domain.Message">
        UPDATE `message` SET clear_state=1 WHERE id = #{id}
    </update>
</mapper>