
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>发表新帖</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/fly-3.0/res/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/fly-3.0/res/css/global.css}">
</head>
<body>
<span id="access_address" style="display:none" th:text="${address}"></span>
<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img th:src="@{/fly-3.0/res/images/zj.png}" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a th:href="@{'/html/indexSuc?address='+${address}}"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      
      <!-- 未登入的状态 -->
      <!--
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
      </li>
      <li class="layui-nav-item">
        <a href="user/login.html">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="user/reg.html">注册</a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li>
       -->
      
      <!-- 登入后的状态 -->
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" th:text="${username}"></cite>
          <i class="iconfont icon-renzheng layui-hide-xs" ></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="VIP+${grade_num}"></i>
          <img th:src="${profile_photo}">
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{'/html/user/set?address='+${address}}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="../user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <!--<div class="fly-none">没有权限</div>-->
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">发表新帖<!-- 编辑帖子 --></li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="" method="post">
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3">
                  <!--<div class="hide" id="address" th:text="${address}"></div>-->
                  <label class="layui-form-label">所在专栏</label>
                  <div class="layui-input-block" th:switch="${grade_num}">
                    <select lay-verify="required" name="class" lay-filter="post_type" id="post_type" th:case="5">
                      <option></option>
                      <option value="000">提问</option>
                      <option value="099">分享</option>
                      <option value="100">讨论</option>
                      <option value="101">建议</option>
                      <option value="168">公告</option>
                      <!--<option value="169">动态</option> -->
                    </select>
                    <select lay-verify="required" name="class" lay-filter="post_type" id="post_type" th:case="1">
                      <option></option>
                      <option value="000">提问</option>
                      <option value="099">分享</option>
                      <option value="100">讨论</option>
                      <option value="101">建议</option>
                      <!--<option value="168">公告</option>-->
                      <!--<option value="169">动态</option> -->
                    </select>
                    <select lay-verify="required" name="class" lay-filter="post_type" id="post_type" th:case="2">
                      <option></option>
                      <option value="000">提问</option>
                      <option value="099">分享</option>
                      <option value="100">讨论</option>
                      <option value="101">建议</option>
                      <!--<option value="168">公告</option>-->
                      <!--<option value="169">动态</option> -->
                    </select>
                    <select lay-verify="required" name="class" lay-filter="post_type" id="post_type" th:case="3">
                      <option></option>
                      <option value="000">提问</option>
                      <option value="099">分享</option>
                      <option value="100">讨论</option>
                      <option value="101">建议</option>
                      <!--<option value="168">公告</option>-->
                      <!--<option value="169">动态</option> -->
                    </select>
                    <select lay-verify="required" name="class" lay-filter="post_type" id="post_type" th:case="4">
                      <option></option>
                      <option value="000">提问</option>
                      <option value="099">分享</option>
                      <option value="100">讨论</option>
                      <option value="101">建议</option>
                      <!--<option value="168">公告</option>-->
                      <!--<option value="169">动态</option> -->
                    </select>
                  </div>
                </div>
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" th:value="@{${title}}">
                    <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                  </div>
                </div>
              </div>
              <!--<div class="layui-row layui-col-space15 layui-form-item layui-hide" id="LAY_quiz">-->
                <!--<div class="layui-col-md3">-->
                  <!--<label class="layui-form-label">所属产品</label>-->
                  <!--<div class="layui-input-block">-->
                    <!--<select name="project">-->
                      <!--<option></option>-->
                      <!--<option value="layui">layui</option>-->
                      <!--<option value="独立版layer">独立版layer</option>-->
                      <!--<option value="独立版layDate">独立版layDate</option>-->
                      <!--<option value="LayIM">LayIM</option>-->
                      <!--<option value="Fly社区模板">Fly社区模板</option>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-col-md3">-->
                  <!--<label class="layui-form-label" for="L_version">版本号</label>-->
                  <!--<div class="layui-input-block">-->
                    <!--<input type="text" id="L_version" value="" name="version" autocomplete="off" class="layui-input">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-col-md6">-->
                  <!--<label class="layui-form-label" for="L_browser">浏览器</label>-->
                  <!--<div class="layui-input-block">-->
                    <!--<input type="text" id="L_browser"  value="" name="browser" placeholder="浏览器名称及版本，如：IE 11" autocomplete="off" class="layui-input">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="L_content" name="content" required lay-verify="required" placeholder="详细描述" class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">悬赏积分</label>
                  <div class="layui-input-inline" style="width: 190px;">
                    <select name="experience" id="post_bounty">
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="80">80</option>
                    </select>
                  </div>
                  <div class="layui-form-mid layui-word-aux">发表后无法更改积分</div>
                </div>
              </div>
              <!--<div class="layui-form-item">-->
                <!--<label for="L_vercode" class="layui-form-label">人类验证</label>-->
                <!--<div class="layui-input-inline">-->
                  <!--<input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">-->
                <!--</div>-->
                <!--<div class="layui-form-mid">-->
                  <!--<span style="color: #c00;">1+1=?</span>-->
                <!--</div>-->
              <!--</div>-->
              <div class="layui-form-item">
                <button class="layui-btn layui-bg-blue" lay-filter="post_receive" lay-submit>发布修改</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">智金网社区</a> 2019 &copy; <a href="http://www.layui.com/" target="_blank">zhijin.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">智金网社区</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>


<script th:src="@{/fly-3.0/res/layui/layui.js}"></script>
<script th:src="@{/js/md5.js}"></script>
<script th:src="@{/js/base64.js}"></script>
<script th:inline="javascript">

    var select_value = /*[[${select_value}]]*/ 'Sebastian';


</script>
<script th:inline="javascript">
    document.getElementById("L_content").value=/*[[${main_spec}]]*/ 'Sebastian';
</script>
<script th:inline="javascript">
    function jsSelectItemByValue(objSelect,objItemText) {
        for(var i=0;i<objSelect.options.length;i++) {
            if(objSelect.options[i].value == objItemText) {
                objSelect.options[i].selected = true;
                break;
            }
        }
    }
    var selectedValue = /*[[${select_value}]]*/ 'Sebastian';
    jsSelectItemByValue(document.getElementById("post_type"),selectedValue);
</script>
<script th:inline="javascript">
    function jsSelectItemByValue(objSelect,objItemText) {
        for(var i=0;i<objSelect.options.length;i++) {
            if(objSelect.options[i].value == objItemText) {
                objSelect.options[i].selected = true;
                break;
            }
        }
    }
    var selectedValue = /*[[${post_bounty}]]*/ 'Sebastian';
    jsSelectItemByValue(document.getElementById("post_bounty"),selectedValue);
</script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form','layer','jquery','upload'],function () {
        var form = layui.form,
            upload = layui.upload,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        //发帖
        form.on("submit(post_receive)",function(data){
            $(this).text("发帖中...").attr("disabled","disabled").addClass("layui-disabled");
            form.on("select", function (data) {
                $("#post_type").val(data.value)//赋值
            });
            post_receive(data);
            return false;
        });

        function post_receive(data) {
            var b = new Base64();
            var $address = /*[[${address}]]*/ 'Sebastian';
            var a = b.encode($address);
            var $value = $('#post_type option:selected');
            var $title = $("#L_title");
            var $main_spec = $("#L_content");
            var $post_bounty = $("#post_bounty option:selected");
            var $old_post_type = /*[[${post_type}]]*/ 'Sebastian';
            $.ajax({
                type: 'post',
                url: '/editPostReceive',
                data: {
                    address:$.trim($address),
                    post_type:$.trim($value.val())+a,
                    title:$.trim($title.val()),
                    main_spec:$.trim($main_spec.val()),
                    post_bounty:$.trim($post_bounty.val()),
                    old_post_type:$.trim($old_post_type)
                },
                success:function (data) {
                    if (data === '0') {
                        layer.msg("发帖失败，您的余额不足以发布此贴！！！", {
                            time: 1000
                        },function () {
                            window.location.reload();
                        })
                    }else {
                        layer.msg("发帖成功！！！", {
                            time: 1000
                        },function () {
                            window.location.href="/html/jie/detail?post_type="+data+"&address="+/*[[${address}]]*/ 'Sebastian';
                        })
                    }
                }
            })
        }
    })
</script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/fly-3.0/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/fly-3.0/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script type="text/javascript">
    layui.use(['form','layer','jquery','upload'],function () {
        var form = layui.form,
            upload = layui.upload,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;
    })
</script>
</body>
</html>