<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        form {
            border: 1px solid;
            width: 30%;
            text-align: center;
            display: inline-block;
            position: fixed;
            top: 30%;
            left: 35%;
            color: #666;
            font-weight: lighter;
        }

        p {
            margin: 15px 0 5px 0;
        }

        input[type=submit] {
            margin: 20px;
            font-size: 18px;
            font-weight: lighter;
        }
    </style>
</head>
<body>
<form action="/register" method="post">
    <p>用户名</p><input name="username" type="text">
    <p>密码</p><input name="password" type="password"><br>
    <input type="submit" value="注册">
</form>
</body>
</html>